pipeline/pl_ingestion_covid_population_data.json
{
	"name": "pl_ingestion_covid_population_data",
	"properties": {
		"activities": [
			{
				"name": "Validar la existencia del archivo",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covid_population_raw_bs",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.ds_container_bs",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.ds_file_name_bs",
								"type": "Expression"
							}
						}
					},
					"timeout": "00:02:00",
					"sleep": 10
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validar la existencia del archivo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covid_population_raw_bs",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.ds_container_bs",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.ds_file_name_bs",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.columnCount, 12)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy covid data_true",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "state",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "state",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "place_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "place_type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "confirmed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "confirmed",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "deaths",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "deaths",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_for_place",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_for_place",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "is_last",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "is_last",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "estimated_population_2019",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "estimated_population_2019",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "city_ibge_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city_ibge_code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "confirmed_per_100k_inhabitants",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "confirmed_per_100k_inhabitants",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "death_rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "death_rate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_covid_population_raw_bs",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.ds_container_bs",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.ds_file_name_bs",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dl_covid_population_raw_dl",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.dl_container_dl",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.dl_file_name_dl",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ds_container_bs": {
				"type": "string",
				"defaultValue": "population"
			},
			"ds_file_name_bs": {
				"type": "string",
				"defaultValue": "covid_population.csv"
			},
			"dl_container_dl": {
				"type": "string",
				"defaultValue": "raw"
			},
			"dl_file_name_dl": {
				"type": "string",
				"defaultValue": "covid_population.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T18:42:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}